<?xml version="1.0"?>
<config>
    <modules>
        <CLS_ShippingArrangement>
            <version>1.0.0</version>
        </CLS_ShippingArrangement>
    </modules>
    <frontend>
        <layout>
            <updates>
                <cls_shippingarrangement>
                    <file>shippingarrangement.xml</file>
                </cls_shippingarrangement>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cls_shippingarrangement>
                    <file>shippingarrangement.xml</file>
                </cls_shippingarrangement>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <checkout>
                        <type>singleton</type>
                        <class>CLS_ShippingArrangement_Model_Observer</class>
                        <method>customDataSave</method>
                    </checkout>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_controller_onepage_save_shipping_method> <!-- Name of Event -->
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>CLS_ShippingArrangement_Model_Observer</class>
                        <!-- Over Model Class -->
                        <method>saveQuoteBefore</method>
                        <!-- name of function -->
                    </save_before>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <blocks>
            <cls_shippingarrangement>
                <class>CLS_ShippingArrangement_Block</class>
            </cls_shippingarrangement>
        </blocks>
        <helpers>
            <cls_shippingarrangement>
                <class>CLS_ShippingArrangement_Helper</class>
            </cls_shippingarrangement>
        </helpers>
        <models>
            <cls_shippingarrangement>
                <class>CLS_ShippingArrangement_Model</class>
                <resourceModel>shippingarrangement_resource</resourceModel>
            </cls_shippingarrangement>
            <shippingarrangement_resource>
                <class>CLS_ShippingArrangement_Model_Resource</class>
            </shippingarrangement_resource>
            <sales>
                <rewrite>
                    <order>CLS_ShippingArrangement_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <cls_shippingarrangement_setup>
                <setup>
                    <module>CLS_ShippingArrangement</module>
                </setup>
            </cls_shippingarrangement_setup>

        </resources>
    </global>
</config>
