/html
/htdocs/downloader/.cache/
/htdocs/downloader/connect.cfg
/htdocs/media/*
!/htdocs/media/.htaccess
!/htdocs/media/customer/
!/htdocs/media/dhl/
/htdocs/media/downloadable/*
!/htdocs/media/downloadable/
!/htdocs/media/downloadable/.htaccess
!/htdocs/media/xmlconnect/
/htdocs/var/*
!/htdocs/var/
!/htdocs/var/package/
!/htdocs/var/.htaccess
/htdocs/includes/src/
/htdocs/app/etc/local.xml
/vendor
.sass-cache/
.idea/
.phpstorm.meta.php
.DS_Store
sitemap.xml
*_sitemap.xml
/_docroot_
/htdocs/sandbox.php
/htdocs/skin/frontend/hptuners/default/css/*
.vagrant
