<?xml version="1.0"?>
<config>
    <modules>
        <CLS_RequestCatalog>
            <version>1.0.1</version>
        </CLS_RequestCatalog>
    </modules>
    <frontend>
        <routers>
            <cls_requestcatalog>
                <use>standard</use>
                <args>
                    <module>CLS_RequestCatalog</module>
                    <frontName>requestcatalog</frontName>
                </args>
            </cls_requestcatalog>
        </routers>
        <layout>
            <updates>
                <cls_requestcatalog>
                    <file>requestcatalog.xml</file>
                </cls_requestcatalog>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <!-- Includes our controller, so when we add the adminhtml menu item below, it is found! -->
            <adminhtml>
                <args>
                    <modules>
                        <CLS_RequestCatalog before="Mage_Adminhtml">CLS_RequestCatalog_Adminhtml</CLS_RequestCatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cls_requestcatalog>
                    <file>requestcatalog.xml</file>
                </cls_requestcatalog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <cls_requestcatalog>
                <class>CLS_RequestCatalog_Block</class>
            </cls_requestcatalog>
        </blocks>
        <helpers>
            <cls_requestcatalog>
                <class>CLS_RequestCatalog_Helper</class>
            </cls_requestcatalog>
        </helpers>
        <models>
            <cls_requestcatalog>
                <class>CLS_RequestCatalog_Model</class>
                <resourceModel>cls_requestcatalog_resource</resourceModel>
            </cls_requestcatalog>

            <cls_requestcatalog_resource>
                <class>CLS_RequestCatalog_Model_Resource</class>
                <entities>
                    <requestcatalog>
                        <table>requestcatalog</table>
                    </requestcatalog>
                </entities>
            </cls_requestcatalog_resource>
        </models>
        <resources>
            <cls_requestcatalog_setup>
                <setup>
                    <module>CLS_RequestCatalog</module>
                </setup>
            </cls_requestcatalog_setup>
        </resources>
    </global>
</config>
